<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="source.class"
            android:value=".ProComic" />
        <meta-data
            android:name="source.factory"
            android:value="eu.kanade.tachiyomi.extension.ar.procomic.ProComicFactory" />
        <meta-data
            android:name="source.lang"
            android:value="ar" />
        <meta-data
            android:name="source.name"
            android:value="ProComic" />
        <meta-data
            android:name="source.nsfw"
            android:value="false" />
    </application>
</manifest>
